name: Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: make build

    - name: Unit tests
      run: make test

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        args: --timeout=3m12s
        skip-go-installation: true
        skip-pkg-cache: true
        skip-build-cache: true

    - name: "Check: go fmt"
      run: |
        if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then
            gofmt -s -l -d .
            echo "Please run: go fmt ./..."
            exit 1
        fi
        if [ "$(go mod tidy -v | wc -l)" -gt 0 ]; then
            go mod tidy -v
            echo "Please run: go mod tidy"
            exit 1
        fi
